@import "tailwindcss";

@custom-variant hover (&:hover);

:root {
  --background: #f0fff1;
  --foreground: #171717;
  --secondary: #004952;
  --accent: #e2ff53;
  --black: #171717;
  --white: #fff;

  --gray-light: #f5f5f5;
  --gray-medium: #e0e0e0;
  --gray-dark: #bdbdbd;
}

@theme inline {
  --font-regular: var(--font-roboto);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-primary {
  background: var(--background);
}

.bg-secondary {
  background: var(--secondary);
}

.color-black {
  color: var(--black);
}

.color-secondary {
  color: var(--secondary);
}

.border-gray-medium {
  border: 1px solid var(--gray-medium);
}

.border-gray-dark {
  border: 1px solid var(--gray-dark);
}

.bg-gray-light {
  background: var(--gray-light);
}

.bg-white-custom {
  background: var(--white);
}

.bg-button-custom {
  background: var(--accent);
}

.bg-button-custom:hover {
  background: var(--gray-medium);
}

.bg-button-email:hover {
  background: var(--gray-medium);
}
